* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;}

#banner-1 {
  /* Positioning */
  z-index: -1;
  position: fixed;

  /* Image properties */
  background-image: url("../images/BigSur2.jpg");
  background-size: cover;
  width: 100%;
  height: 1280px;}

nav {
  /* Positioning */
  z-index: 1;
  position: fixed;
  top: 0;

  /* Box properties */
  background-color: hsla(0, 0%, 0%, 0.7);
  width: 100%;
  height: 80px;}

nav ul {
  width: 100%;
  height: 80px;
  text-align: left;}

nav li {
  /* Box properties */
  margin: 0 2%;
  padding: 22px 0;
  width: 160px;
  height: 80px;

  /* Font properties */
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 0.05em;
  display: inline-block;}

nav a {
  /* Font properties */
  color: hsl(0, 0%, 100%);
  text-decoration: none;}

nav a:hover {
  /* Box properties */
  border-bottom: 3px solid hsl(0, 0%, 100%);}

header {
  width: 100%;
  height: 1280px;}

header h1 {
  /* Box properties */
  width: 850px;
  height: 621px;

  /* Positioning */
  position: relative;
  top: 330px;
  margin: auto;

  /* Font properties */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1100%;
  color: hsl(0, 0%, 100%);
  text-align: center;}

#about-me {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 1280px;}

#about-me h2 {
  /* Positioning */
  text-align: center;
  margin: 0 auto;

  /* Box properties */
  border-bottom: 3px solid black;
  padding: 10px;

  /* Font properties */
  font-size: 60px;
  width: 765px;}

#about-me p {
  /* Positioning */
  margin: 2%;
  float: left;

  /* Box properties */
  height: 80%;
  width: 46%;

  /* Font properties */
  line-height: 1.4em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  font-weight: bold;}

#banner-2 {
  background-image: url("../images/Monterey2.jpg");
  background-size: cover;
  width: 100%;
  height: 1280px;}

#banner-2 p {
  /* Positioning */
  position: relative;
  top: 597px;
  margin: 0 auto;
  text-align: center;

  /* Box properties */
  width: 850px;
  height: 86px;
  
  /* Font properties */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 72px;

  /* Color */
  color: hsl(0, 0%, 100%);}

#banner-2 q {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

footer {
  /* Box properties */
  width: 100%;
  height: 160px;
  border: 1px solid hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 5%);}

footer hr {
  /* Positioning */
  margin: 20px auto;

  /* Box properties */
  border: 2px solid hsl(0, 0%, 80%);
  width: 90%;

  /* Color properties */
  color: hsl(0, 0%, 80%);}

footer p {
  /* Positioning */
  text-align: center;

  /* Color properties */
  color: hsl(0, 0%, 80%);}

#back-to-top {
  margin-top: 50px;}

#back-to-top a {
  color: hsl(0, 0%, 80%);}